* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  display: flex;
  align-items: center;
}

/* External container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42rem;
  width: 40rem;
  margin: 1.25rem auto;
  padding: 8px;
}

.container h1 {
  margin-bottom: 8px;
}

/* Internal container */
.calc-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  border: 2px solid rgb(0, 72, 0);
  padding: 8px;
}

.output-screen {
  height: 30%;
  border: 2px solid green;
  margin-bottom: 5px;
}

.input-container {
  height: 70%;
  border: 2px solid green;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.input-btn {
  flex: 1;
  flex-basis: 20%;
  height: 15%;
  margin: 5px;
}
